<mat-toolbar color=primary> 
    <img class="logo-header" src="{{logoImg}}" alt="Censo Palomar">   
    <span class="app-name">{{appName}}</span>
    <span class="spacer-toolbar"></span> 
    @if (Usuario$ | async; as usuario;){
      <span style="color: white">{{usuario.email}} - {{usuario.emailVerified}}</span>
    } @else {
      <span style="color: white">Nadie está logueado</span>
    }
    <button mat-icon-button class="menu-button" (click)="toggleSideNav()">
      <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>
<mat-sidenav-container class="sidenav-class" hasBackdrop="true" (backdropClick)="openSideNav(false)">
  <mat-sidenav #sidenav mode="over" [(opened)] = "openMenu" position="end">
      <app-menu (closeSidenavEvent)="openSideNav($event)"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-spinner></app-spinner> 
    <router-outlet></router-outlet>
       
    
  </mat-sidenav-content>
  
</mat-sidenav-container>
