@import '../../../css-variables'

$icon-size: 40px

.container
    .wrapper-profile
        width: 30%
    .wrapper-image
        img
            border-radius: 5px
            max-width: 300px
            max-height: 250px


.container
    .wrapper-profile
        .user-information
            font-family: $fonts
            margin-top: 20px
            margin-bottom: 100px
            
            .profile-list
                width: 100%
                .profile-item-list
                    display: flex
                    flex-direction: row
                    padding: 18px
                    border: 1px solid $non-photo-blue
                    border-radius: 5px
                    margin-bottom: 8px
                    .icon-list-wrapper 
                        display: flex
                        align-items: center 
                        margin-right: 20px                     
                        .icon-item
                            width: $icon-size
                            height: $icon-size
                            mat-icon 
                                color: $lapiz-lazuli
                                font-size: $icon-size
                                width: $icon-size
                                height: $icon-size
                .info-list-wrapper
                    display: flex
                    flex-direction: column
                    .title-item
                        font-size: 12px
                        color: $prussian-blue

                    .info-item
                        color: $moonstone
                        font-size: 20px

.container
    .wrapper-profile
        .user-information
            .profile-list
                .profile-item-list:hover
                    border: 1px solid $moonstone
    
@media (max-width: 800px)
    $icon-size: 35px
    .container
        .wrapper-profile
            width: 95%
            .user-information
                .profile-list
                    .profile-item-list                        
                        padding: 15px
                        margin-bottom: 5px
                        .icon-list-wrapper 
                            margin-right: 18px                     
                            .icon-item
                                width: $icon-size
                                height: $icon-size
                                mat-icon 
                                    font-size: $icon-size
                                    width: $icon-size
                                    height: $icon-size
                    .info-list-wrapper
                        .title-item
                            font-size: 12px
                        .info-item
                            font-size: 18px
