<h1 class="profile-title title-form">Perfil</h1>
<div class="container center-child">    
    <div class="wrapper-profile">        
        <div class="wrapper-image center-child">
            @if(currentUserData?.urlImage != '' || currentUserData?.urlImage != null){
                <img src="{{currentUserData?.urlImage}}" alt="Imagen de perfil">
            }@else {
                <img src="assets/logo-27597a-cuadro.png" alt="Imagen de perfil">
            }
        </div>
        <div class="user-information center-child">
            <div class="profile-list">
                <div class="profile-item-list">
                    <div class="icon-list-wrapper">
                        <span  class="icon-item"><mat-icon>person</mat-icon></span>
                    </div>                        
                    <div class="info-list-wrapper">
                        <span class="title-item">Nombre</span> 
                        <span  class="info-item">{{currentUserData?.name}}</span> 
                    </div>
                </div>
                <div class="profile-item-list">
                    <div class="icon-list-wrapper">
                        <span  class="icon-item"><mat-icon>mail</mat-icon></span>
                    </div>                        
                    <div class="info-list-wrapper">
                        <span class="title-item">Correo</span> 
                        <span  class="info-item">{{currentUserData?.email}}</span> 
                    </div>
                </div>
                <div class="profile-item-list">
                    <div class="icon-list-wrapper">
                        <span  class="icon-item"><mat-icon>groups</mat-icon></span>
                    </div>                        
                    <div class="info-list-wrapper">
                        <span class="title-item">Club</span> 
                        <span  class="info-item">{{currentUserData?.club}}</span> 
                    </div>
                </div>
                <div class="profile-item-list">
                    <div class="icon-list-wrapper">
                        <span  class="icon-item"><mat-icon>calendar_month</mat-icon></span>
                    </div>                        
                    <div class="info-list-wrapper">
                        <span class="title-item">Fecha de Registro</span> 
                        <span  class="info-item">{{currentUserData?.registerDate?.toMillis() | date: 'dd/MM/yyyy'}}</span> 
                    </div>
                </div>
    
            </div>
    </div>
</div>
