<app-header-forms [titleForm]="'¿Olvidaste tu contraseña?'" [webName]="'Censo Palomar'"></app-header-forms>
<p class="text-recovery-password">
    Ingresa tu email y te enviaremos un enlace para recuperar tu contraseña
</p>
@if (!emailAlreadySent && !hasError){
  <div class="form-container center-child">    
    <form class="center-child">
        <mat-form-field>
          <mat-label>Correo electrónico</mat-label>
            <input type="text" matInput [formControl]="email">
        </mat-form-field>
        @if(email.touched && email.errors?.['pattern']){        
          <div class="error-form">
            Debes introducir un email válido
          </div>
        }
        @if(email.touched && email.errors?.['required']){
          <div class="error-form">
            Debes introducir un email
          </div>
        }        
        <div class="button">
            <button type="submit" mat-flat-button color=primary 
                [disabled]="!email.valid"
                (click)="sendRecoveyPassword()">
              Recuperar contraseña
            </button>
        </div>
    </form>    
  </div>
} 
@if (emailAlreadySent && !hasError){
  <div class="already-sent">
      <p>Revisa tu bandeja de email para recuperar el acceso.<br>Revisa también tu bandeja de SPAM. </p>
  </div>
} 
<div class="links-sign-in">
  <p>¿No tienes cuenta? <a class="links" routerLink="/auth/sign-up/">Regístrate</a><br>
    <a class="links" routerLink="/auth/login/">Inicia Sesión</a></p>  
</div>
