
    <div class="container-leaf 
            {{index % 2 == 0 && index > 0 ? 'male-color' : 'female-color'}} 
            {{index == 0 ? 'mainPigeon': ''}}">
        <div class="wrapper-leaf">
            @if(isString(pigeon)){
                <div class="wrapper-write-pigeon center-child">
                    <p class="write-pigeon">{{(pigeon != null) ? pigeon : ''}}</p>

                </div>

            }@else {
                <a [routerLink]="['/user/pigeon-profile', pigeon.id]">
                    <div class="pigeon-data-{{getLevel(index)}}">
                        <div class="image-container center-child">
                            <img src="{{pigeon.image}}" alt="Paloma">
                        </div>
                        
                        <div class="wrapper-info">
                            <div class="pigeon-info">
                                <p class="item-info-name">{{pigeon.pigeonName}}</p>
                                <p class="item-info">{{pigeon.ring}}</p>
                                <p class="item-info">{{pigeon.birthday != null ? (pigeon.birthday.toMillis() | date: 'dd/MM/YYYY') : ''}}</p>
                                @if (pigeon.breed != null && pigeon.breed != '' ) {
                                    <p class="item-info"><strong>Estirpe: </strong>{{pigeon.breed}}</p>
                                }
                                <p class="state"><span class="state-label">{{pigeon.state != null && pigeon.state != '' ? pigeon.state : 'Sin estado'}}</span></p>
                            </div>
                        </div>
                    </div>
                </a>
            }        
        </div>
    </div>
