@import '../../general-styles/css-variables'

.wrapper-footer
    width: 100%
    align-items: center
    background-color: $lapiz-lazuli
    margin-top: 100px
    min-height: 150px
    .content-footer
        width: 90%
        display: flex
        justify-content: space-around
        .wrapper-image-footer
            display: flex
            align-items: center
            img
                width: 80px
        .wrapper-links
            color: $blanco                
            .list-links-footer
                list-style: none
                .link-footer
                    margin: 4px 0
                    a
                        text-decoration: none
                        color: $blanco
                        font-size: 18px
                        font-weight: 600
                        text-transform: uppercase

.link-footer 
    a:hover
        color: $non-photo-blue !important

.final-footer
    height: 25px
    border-top: 1px solid $sky-blue
    background-color: $lapiz-lazuli


@media (max-width: 500px)
    .wrapper-footer
        width: 100%        
        .content-footer
            width: 80%
            display: flex
            flex-wrap: wrap
            justify-content: space-around
            .wrapper-image-footer
                width: 100%
                display: flex
                align-items: center
                justify-content: center
                margin-top: 20px
                img
                    width: 80px
            .wrapper-links
                width: 100%
                color: $blanco                
                .list-links-footer
                    list-style: none
                    .link-footer
                        margin: 4px 0
                        a
                            text-decoration: none
                            color: $blanco
                            font-size: 18px
                            font-weight: 600
                            text-transform: uppercase