<div class="wrapper-footer">
    <div class="content-footer">
        <div class="wrapper-image-footer">
            <img src="/assets/logo-blanco.png" alt="Logo">
        </div>
        <div class="wrapper-links">
            <h3>ENLACES</h3>
            <ul class="list-links-footer">
                @for (link of menuLinks; track $index){
                    <li class="link-footer"><a [routerLink]="link.link">{{link.tag}}</a></li>
                }                
            </ul>
        </div>
    </div>
</div>
<div class="final-footer">
    
</div>
