<div class="container-panel center-child">
    <div class="wrapper-panel">
        <h3 class="title-h3">Enlaces del Administrador</h3>
        <div class="item-panel">
            <div class="button-panel">
                <button mat-raised-button color="primary" routerLink="/news">
                    <mat-icon>newspaper</mat-icon>Ver las Noticias</button>
            </div>
        </div>
        <div class="item-panel">
            <div class="button-panel">
                <button mat-raised-button color="primary" routerLink="/admin/write-news">
                    <mat-icon>edit_note</mat-icon>Publicar una noticia</button>
            </div>
        </div>
        <div class="item-panel">
            <div class="button-panel">
                <button mat-raised-button color="primary" routerLink="/admin/list-users">
                    <mat-icon>group</mat-icon>Ver usuarios registrados</button>
            </div>
        </div>
        <div class="item-panel">
            <div class="button-panel">
                <button mat-raised-button color="primary" routerLink="/user">
                    <mat-icon>person</mat-icon>Ver mi perfil</button>
            </div>
        </div> 
    </div>
</div>
