//Colores principales
$prussian-blue: #062a40
$lapiz-lazuli: #27597a
$sky-blue: #93c5dd
$moonstone: #4da7b0
$non-photo-blue: #A8e2f9
$blanco: #ffffff
$negro: #000000
$blanco-roto: #f2f2f2
$transparente: #FFFFFF00
$moonstone-transparent-25: #4da7b025

//Fuentes
$fonts: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif