<div class="title-list">
    <h4 class="title-h4">Últimas Noticias</h4>
</div>
<div class="container-items center-child">
    <div class="wrapper-items">
        @for(news of newsList; track $index){
            <div class="container-item">
                <a [routerLink]="['/news/read', news.id]" class="wrapper-item">                    
                    <img src='{{news.image}}'>
                    <div class="item-info">
                        <h5 class="title-h5">{{news.title}}</h5>
                        <div class="metadata">
                            <p class="publish-date">{{news.publishDate.toMillis() | date: 'dd/MM/YYYY'}}</p>
                            <p class="featured-item">{{news.category}}</p>
                        </div>
                        <p class="item-body">{{news.body | extractWords:15}}</p> 
                    </div>
                </a>
            </div>
        }        
        
    </div>
    
</div>
<div class="button center-child">
    <button mat-raised-button color="primary" [routerLink]="['/']">Volver</button>
</div>
<app-footer></app-footer>
