<div class="banner-home">
    <img src="/assets/logo-A8e2f9.png">
    <h1>Censo Palomar</h1>
</div>
<div class="second-section">
    <div class="text-home">
        <h3><strong>¡Bienvenido a Censo Palomar!</strong></h3>
        <p>Nos complace presentarte una plataforma diseñada especialmente para que los colombófilos 
            puedan registrar y gestionar sus aves de manera fácil. 
            El objetivo es facilitarte el seguimiento y control de tu palomar, proporcionando una 
            herramienta intuitiva y accesible para todos.</p>
        <p>Para comenzar a utilizar la aplicación, regístrate creando una cuenta en nuestra plataforma. Luego, comienza 
            a registrar tus palomas proporcionando la información básica requerida. Accede a tu cuenta 
            en cualquier momento para actualizar datos y gestionar tu palomar de manera eficiente.</p>
        <div class="buttons-home">
            <button mat-flat-button color="primary" routerLink="/auth/login">Iniciar Sesión</button>
            <button mat-flat-button color="primary" routerLink="/auth/sign-up">Registrarse</button>
        </div>
    </div>
</div>
<app-news-home></app-news-home>
<app-ads></app-ads> 
<app-footer></app-footer>


