@import '../../general-styles/css-variables'
.banner-home
    background-image: linear-gradient(to bottom, #00000090, #00000090), url('/assets/rock-dove.jpg')
    background-repeat: no-repeat
    background-size: cover
    background-position: top center

    width: 100%
    height: calc(100vh - 100px)

    display: flex
    align-items: center
    justify-content: center

    img
        width: 100px
        margin-right: 2em
    
    h1
        color: $non-photo-blue
        font-family: $fonts
        font-size: 100px
        font-weight: normal


    
.second-section
    background-image: linear-gradient(to bottom, #fafafadd, #fafafadd), url('/assets/flock-background.png')
    background-repeat: no-repeat
    background-size: cover
    background-position: bottom right
    width: 100%
    display: flex
    justify-content: center
    align-content: center
    padding: 50px 0

    .text-home
        //background-color: #fafafa
        width: 60%
        

.buttons-home, .market-button-home
    display: flex
    justify-content: center
    
    button
        margin: 10px 15px
        padding: 25px 50px


@media (max-width: 800px)
    .banner-home
        background-position: 25% center
        width: 100%
        height: calc(70vh - 80px)
        display: flex
        flex-direction: column
        img
            width: 90px
            margin-right: 1em
        h1
            font-size: 40px

    .second-section
         display: flex
         justify-content: center
         align-content: center
         padding: 15px 0
         .text-home
            width: 90%
    .buttons-home
        flex-direction: column
        button
            margin: 10px 15px
            padding: 25px 50px
    
    

