<div class="title">
    <h3 class="title-h3">
        Actualizar Contraseña
    </h3>
</div>
<div class="form-container center-child">
    <div class="wrapper-form">
        <form class="center-child" [formGroup]="passwordForm" (ngSubmit)="submitPasswordForm()">  
            <mat-form-field>
                <mat-label>Contraseña Actual</mat-label>
                <input type="password" matInput formControlName="oldPassword">
            </mat-form-field>
            @if(passwordForm.get('oldPassword')?.touched && passwordForm.get('oldPassword')?.errors?.['required']){
                <div class="error-form">
                    Debes introducir la contraseña actual.
                </div>
            }
            <mat-form-field>
                <mat-label>Nueva Contraseña</mat-label>
              <input type="password" matInput formControlName="newPassword" >
            </mat-form-field>
            @if(passwordForm.get('newPassword')?.touched && passwordForm.get('newPassword')?.errors?.['required']){
                <div class="error-form">
                    Debes ingresar la nueva contraseña.
                </div>
            }
            @if (passwordForm.get('newPassword')?.touched && passwordForm.get('newPassword')?.errors?.['minlength']){
                <div class="error-form">
                    La contraseña debe tener al menos {{ passwordForm.get('newPassword')?.errors?.['minlength']?.requiredLength}} caracteres.
                </div> 
              }
           <mat-form-field>
                <mat-label>Confirmar Contraseña</mat-label>
                <input type="password" matInput formControlName="repeatPassword" (keyup)="checkEquals()">
           </mat-form-field>
           @if(passwordForm.get('repeatPassword')?.touched && passwordForm.get('repeatPassword')?.errors?.['required']){
                <div class="error-form">
                    Debes ingresar la confirmación de la contraseña.
                </div>
            }
            @if(!areEquals){
                <div class="error-form">
                    La nueva contraseña no coincide con la confirmación de la contraseña.
                </div>
            }
          <div class="button">
            <button type="submit" mat-raised-button color="primary">Actualizar Contraseña</button>
          </div>          
        </form> 
        <div class="button">
            <button mat-raised-button color="primary" (click)="goBack()">Cancelar</button>
          </div>
    </div>
</div>
