.form-container
    form
        flex-direction: column
        width: 30%

        .button            
            button
                width: 100%

.links-sign-in
    p
        text-align: center

@media (max-width: 800px)
    .form-container
        form
            width: 90%


  