<div class="wrapper-market-section">
    <div class="market-section-home">
        <h1 class="title-section-home">Anuncios</h1>
        <hr class="line-home">
        <div class="market-text-content">       
            <div class="market-text-home">
                <p>En esta sección próximamente se podrán ver los últimos anuncios publicados por los usuarios de la aplicación.</p>
                <div class="market-button-home">
                    <button mat-flat-button color=primary>Ver anuncios</button>
                </div>
            </div>
        </div> 
    </div>
</div>